@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h3>Em dias de caos e perigo</h3>
    <h1>o cu </h1>
    <h2>do gabriel vira abrigo</h2>
    <h3>e ele não </h3>
    <h2>@ViewBag.textoidade</h2>

    <body>
        <img src ="https://melmagazine.com/wp-content/uploads/2021/01/Gigachad.jpg"/>
    </body>

</div>


